<div class="container-fluid p-4">

    <div class="mt-2 row">
        <h1 class="digitalAssetsTitle col-12 col-md-6">Digital Assets Monitoring Dashboard</h1>
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-end align-items-center gap-2">
                <img [src]="dashboardKpis().isVisible ? '/assets/Grid.svg' : '/assets/Grid-hide.svg'" alt="Grid Icon"
                    class="grid-icon" (click)="onGridIconClick()">
                <a routerLink="/add-digital-assets" class="btn btn-primary d-flex align-items-center gap-2"
                    style="text-decoration: none;">
                    <mat-icon>add</mat-icon> Add Digital Assets
                </a>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="row g-3">
            @if(dashboardKpis().isVisible){
            @for(item of dashboardKpis().data; track item.id){
            <app-dashboardkpi class="col-lg-3 col-sm-12" [item]="item"></app-dashboardkpi>
            } }
        </div>

    </div>

    <!-- Table with Filters and Search -->
    <div class="mt-5">
        <app-reusable-table [config]="tableConfigWithData()" [filters]="tableFilters()" [searchValue]="searchValue()"
            (searchChange)="onSearchChange($event)" (searchQuery)="onSearchQuery($event)"
            (filterRemove)="onFilterRemove($event)" (filterClick)="onFilterClick($event)"
            (filterApply)="onFilterApply($event)">
        </app-reusable-table>
    </div>

</div>