<div class="container-fluid p-4">

    <div class="mt-2 row">
        <h1 class="digitalAssetsTitle col-12 col-md-6">Digital Assets Monitoring Dashboard</h1>
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-end align-items-center gap-2">
                <img [src]="dashboardKpis().isVisible ? '/assets/Grid.svg' : '/assets/Grid-hide.svg'" alt="Grid Icon"
                    class="grid-icon" (click)="onGridIconClick()">
                <a routerLink="/add-digital-assets" class="btn btn-primary d-flex align-items-center gap-2"
                    style="text-decoration: none;">
                    <mat-icon>add</mat-icon> Add Digital Asset
                </a>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="row g-3">
            @if(dashboardKpis().isVisible){
            @for(item of dashboardKpis().data; track item.id){
            <app-dashboardkpi class="col-lg-3 col-sm-12" [item]="item" (cardAction)="onKpiCardAction($event)"></app-dashboardkpi>
            } }
        </div>

    </div>

    <!-- Table with Filters and Search -->
    <div id="assets-table" class="mt-5">
        <app-reusable-table [config]="tableConfigWithData()" [filters]="tableFilters()"
            (searchQuery)="onSearchQuery($event)" [totalItems]="totalItems()" (actionClick)="onActionClick($event)">
            <div headerActions class="import-assets-wrapper">
                <button type="button" class="btn btn-primary import-assets-btn"
                    [matMenuTriggerFor]="importAssetsMenu" aria-label="Import Assets">
                    <mat-icon>upload</mat-icon>
                    Import Assets
                    <mat-icon class="chevron">expand_more</mat-icon>
                </button>
                <mat-menu #importAssetsMenu="matMenu" class="import-assets-menu">
                    <button mat-menu-item (click)="onDownloadTemplate()">
                        <mat-icon>download</mat-icon>
                        <span>Download Template</span>
                    </button>
                    <button mat-menu-item (click)="onBulkUpload()">
                        <mat-icon>upload</mat-icon>
                        <span>Bulk Upload</span>
                    </button>
                </mat-menu>
            </div>
        </app-reusable-table>
    </div>

</div>
