<div class="container-fluid p-4">

    <div class="mt-2 d-flex justify-content-between align-items-center">
        <h1 class="digitalAssetsTitle">Digital Assets Monitoring Dashboard</h1>
        <button class="btn btn-primary d-flex align-items-center gap-2"> <mat-icon>add</mat-icon> Add Digital
            Assets</button>
    </div>

    <div class="mt-4">
        <div class="row g-3">
            @for(item of dashboardKpis(); track item.id){
                <div class="col-lg-3 col-sm-12">
                    <div class="card p-3 h-100 dashboard-card">
                        <div class="d-flex justify-content-between align-items-start mb-3">
                            <h1 class="digitalAssetsTitle">{{ item.value }}</h1>
                            <span class="badge badge-success d-flex align-items-center gap-2 badge-weight">
                                {{ item.subValue }}
                                <!-- <mat-icon class="badge-icon">keyboard_arrow_up</mat-icon> -->
                                <mat-icon class="badge-icon">keyboard_arrow_down</mat-icon>
                            </span>
                        </div>
        
                        <h5 class="dashboard-title mb-2">{{ item.title }}</h5>
                        <p class="dashboard-subtitle text-muted mb-3">{{ item.subTitle }}</p>
        
                        <div class="d-flex justify-content-between align-items-center dashboard-footer">
                            <span class="dashboard-footer-text">{{ item.subValueText }}</span>
                            <mat-icon class="dashboard-chevron">chevron_right</mat-icon>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>


</div>