@use '@angular/material' as mat;

// Define the custom primary color palette
$custom-primary-palette: (
  50: #e0f7f5,
  100: #b3ebe8,
  200: #80ded9,
  300: #4dd1ca,
  400: #26c7be,
  500: #0D9488, // Main primary color
  600: #0b857a,
  700: #09736c,
  800: #07615e,
  900: #044a47,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

$custom-primary: mat.m2-define-palette($custom-primary-palette);
$custom-accent: mat.m2-define-palette(mat.$m2-grey-palette, A200, A100, A400);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme
$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

// Include the theme styles
@include mat.all-component-themes($custom-theme);
