<div class="kpi-card-wrapper">
    <div class="kpi-card">
        <div class="kpi-header">
            <h1 class="kpi-value">{{ item.value }}</h1>
            @if(item.subValue) {
            <span [ngClass]="getBadgeClass()" class="kpi-badge">
                {{ item.subValue }}
                @if(isPercentageBadge()) {
                <mat-icon class="badge-icon">{{ item.subValueColor === 'success' ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down' }}</mat-icon>
                }
            </span>
            }
        </div>

        <h5 class="kpi-title">{{ item.title }}</h5>
        <p class="kpi-subtitle mt-2">{{ item.subTitle }}</p>

        <div class="kpi-divider"></div>

        <div class="kpi-footer ">
            <a [routerLink]="item.subValueLink" class="kpi-link">{{
                item.subValueText }}</a>
            <mat-icon class="kpi-chevron">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>