<div class="kpi-card-wrapper">
    <div
        class="kpi-card"
        [class.kpi-card-clickable]="isClickable"
        (click)="onCardClick($event)">
        <div class="kpi-header">
            <h1 class="kpi-value">{{ item.value }}</h1>
            @if(item.subValue) {
            <span [ngClass]="getBadgeClass()" class="kpi-badge">
                {{ item.subValue }}
            </span>
            }
        </div>

        <h5 class="kpi-title">{{ item.title }}</h5>
        <p class="kpi-subtitle mt-2">{{ item.subTitle }}</p>

        <div class="kpi-divider"></div>

        <div class="kpi-footer">
            <span class="kpi-link" (click)="$event.stopPropagation(); onCardClick($event)">{{
                item.subValueText }}</span>
            <mat-icon class="kpi-chevron">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>
