
.dashboard-title {
    font-weight: 600;
    font-style: semibold;
}

.dashboard-subtitle {
    font-weight: 400;
    font-style: regular;
}


.card {
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
    }
}

.badge-weight {
    font-weight: 400;
}

.badge-icon {
    width: 11;
    height: 11;        
}
