<div class="container-fluid" [class.p-4]="showBreadcrumb || showHeader">
  @if(showBreadcrumb) {
    <app-reusable-breadcrum [breadcrumbs]="breadcrumbs"></app-reusable-breadcrum>
  }

  @if(showHeader) {
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
      <h1 class="pageTitle">All Incidents</h1>
      <div class="d-flex align-items-center gap-2">
        @if(showAddButton) {
          <button class="btn btn-primary d-flex align-items-center gap-2" (click)="onAddIncident()">
            <mat-icon>add</mat-icon>
            Add Incident
          </button>
        }
      </div>
    </div>
  }

  <div [class.mt-5]="showHeader">
    <app-reusable-table [config]="tableConfigWithData()" [filters]="tableFilters()"
      [totalItems]="totalItems()" (searchQuery)="loadIncidents($event)">
    </app-reusable-table>
  </div>

</div>